# IDE
.idea/
*.iws
*.iml
*.ipr

# Build
target/
build/
out/
bin/

# Maven
.mvn/
mvnw
mvnw.cmd

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Application
application.yml
/config/
.env

# Temporary files
*.tmp
*.temp

# Git
*.orig

# IDE specific
/.idea/encodings.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/
/.idea/httpRequests/
/.idea/dataSources/
/.idea/dataSources.local.xml


project/**/.idea/
project/**/target/
project/**/.mvn/
project/**/mvnw
project/**/mvnw.cmd