apiVersion: apps/v1
kind: Deployment
metadata:
  name: authservice
  namespace: app-namespace
  labels:
    app: authservice
    version: v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: authservice
  template:
    metadata:
      labels:
        app: authservice
        version: v1
    spec:
      containers:
        - name: authservice
          image: authservice:latest
          imagePullPolicy: Never

          ports:
            - containerPort: 8082
              protocol: TCP

          env:
            - name: SPRING_LIQUIBASE_CHANGE_LOG
              value: "classpath:db/changelog/db.changelog-master.xml"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://authdb:5432/auth_db"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "12345"
            - name: SERVER_PORT
              value: "8082"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: jwt-secret

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 180
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 180
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
      restartPolicy: Always


