apiVersion: v1
kind: Service
metadata:
  name: authservice
  namespace: app-namespace
  labels:
    app: authservice
spec:
  selector:
    app: authservice
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
  type: ClusterIP