server:
  port: 8080

spring:
  application:
    name: apigateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: userservice-route
              uri: http://userservice:8081
              predicates:
                - Path=/api/v1/users/**,/api/v1/cards/**
            - id: authservice-route
              uri: http://authservice:8082
              predicates:
                - Path=/api/v1/auth/**
            - id: orderservice-route
              uri: http://orderservice:8083
              predicates:
                - Path=/api/v1/orders/**
            - id: paymentservice-route
              uri: http://paymentservice:8084
              predicates:
                - Path=/api/v1/payments/**
jwt:
  secret: ${JWT_SECRET}

services:
  user:
    url: http://userservice:8081
    endpoints:
      create: /api/v1/users/create
      delete: /api/v1/users/{userId}
  auth:
    url: http://authservice:8082
    endpoints:
      register: /api/v1/auth/register

logging:
  level:
    root: INFO
    com.apigateway: DEBUG
    org.springframework.web.server: DEBUG
    org.springframework.web.reactive: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true