apiVersion: v1
kind: Service
metadata:
  name: paymentservice
  namespace: app-namespace
  labels:
    app: paymentservice
spec:
  selector:
    app: paymentservice
  ports:
    - port: 8084
      targetPort: 8084
      protocol: TCP
  type: ClusterIP