name: CI for PaymentService with Sonar & Docker

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build:
    name: Build PaymentService
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build project
        run: |
          cd project/paymentservice
          mvn -B clean package -DskipTests=true

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Run tests
        run: |
          cd project/paymentservice
          mvn -B test

  sonar:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: SonarCloud Scan
        run: |
          cd project/paymentservice
          mvn -B verify sonar:sonar \
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }} \
            -Dsonar.organization=${{ secrets.SONAR_ORG }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: sonar

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build JAR file
        run: |
          cd project/paymentservice
          mvn -B clean package -DskipTests=true

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          cd project/paymentservice
          docker build -t ${{ secrets.DOCKER_USERNAME }}/paymentservice:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/paymentservice:${{ github.sha }}
          docker tag ${{ secrets.DOCKER_USERNAME }}/paymentservice:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/paymentservice:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/paymentservice:latest
